table {
    text-align: left
}

button.help {
    color:#fff;
    background-color:rgb(0, 204, 255);
    width:36px;
    height:36px;
    display:inline-block;
    border-radius:100%;
    font-size:28px;
    text-align:center;
    text-decoration:none;
    -webkit-box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
    box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
}

video {
    width:100%;
    aspect-ratio: 16/9;
}

div.vid_nav_buttons {
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
    max-width: 300px;
}

button {
    text-align: center;
    margin: auto;
}

div.column {
    width: 33%;
    display: inline-grid;
    text-align: center;
    justify-content: center;
}

input.timecode {
    width: 100px;
}