div.vid_controls {
    max-width: 1280px;
    display: inline-flex;
}

div.log_controls {
    display: inline-flex;
}

input.timecode {
    width: 100px;
}

input#inputtc {
    width: 180px;
    height: 40px;
    position: relative;
    z-index: -1;
    left: 50%;
    margin-top: -60px;
    margin-left: -90px;
    align-self: center;
    align-content: center;
    text-align: center;
    font-size: xx-large;
    opacity: 0;
    border: 0;
    outline: none;
}

input#inputtc:focus {
    z-index: 1;
    opacity: 1;
}

.fadeIn {
    animation: fadeIn ease 5s;
    background-color: #73bd45;
    opacity: 0;
    width: 100%;
    position: relative;
    z-index: 10;
    left: 50%;
    margin-top: -60px;
    margin-left: -90px;
    align-self: center;
    align-content: center;
    text-align: center;
  }
  
  
  @keyframes fadeIn{
    0% {
      opacity:0;
    }
    25% {
      opacity:1;
    }
    75% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }