{% include 'head.html' %}
      {% include 'tasks-table-head.html' %}
    </head>
    <body>
      {% include 'sidebar.html' %}
        <div id="main" class="content">
          {% for directory in files -%}
          <h1>{{ directory.name }}</h1>
          <table>
            {% for filename in directory.files -%}
            <tr>
              <td><a href="/log/{{ directory.dir }}/{{ filename }}" >{{ filename }}</a></td>
            </tr>
            {% endfor -%}
          </table>
          {% endfor -%}
          {% include 'tasks-table-body.html' %}
        </div>
    </body>
</html>