<html>
    <head>
        <script src="{{url_for('static', filename='js/videolog.js')}}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/log.css')}}">
    </head>
    <body>
        <div class="vid_controls">
        <video id="video1" controls>
            <source src="/static/video/{{ vid_dir }}/{{ video }}.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <form action="/build", method="post">
            <input type="hidden" name="video" value="{{video}}.mp4">
            <div class="column">
                <label>In</label>
                <input id="intc" name="start_tc" type="text" class="timecode">
            </div>
            <div class="column">
                <label>Current</label>
                <input id="inputtc" type="text" onkeydown="enter_timecode(this)" onfocus="tc_focus(this)" onblur="tc_focus_off(this)" class="timecode">
            </div>
            <div class="column">
                <label>Out</label>
                <input id="outtc" name="end_tc" type="text" class="timecode">
            </div>
            <div class="vid_nav_buttons">
                <button type="button" onclick="bmi()">Mark In</button>
                <button type="button" onclick="bgi()">|&lt</button>
                <button type="button" onclick="bfb()">&lt;</button>
                <button type="button" onclick="bff()">&gt;</button>
                <button type="button" onclick="bgo()">&gt|</button>
                <button type="button" onclick="bmo()">Mark Out</button>
            </div>
            <input type="submit" value="Submit">
        </form>
        </div>
        <button type="button" onclick="get_shuttle()">Connect to Shuttle controller</button><br/>
        <button type="button" onclick="" class="help">?</button>
        <div id="div-instructions">
            <h1>Instructions</h1>
            <p><b>Spacebar</b> to play/pause</p>
            <p><b>left</b> or <b>right</b> to go forwards/back one frame</p>
            <p><b>i</b> to save an "In" time</p>
            <p><b>o</b> to save an "Out" time</p>
            <p><b>00001000</b> or <b>1000</b> to skip to a specific timecode (<i>00:00:10:00</i> in this case)</p>
            <p><b>+00001000</b> or <b>+1000</b> to skip forwards by a specific timecode (<i>00:00:10:00</i> in this case)</p>
            <p><b>-00001000</b> or <b>-1000</b> to skip backwards by a specific timecode (<i>00:00:10:00</i> in this case)</p>
        </div>
    </body>
</html>