<html>
    <head>
        <script type="text/javascript">
            var framerate = 25
            
            function bff () {
                // Button Frame Forward
                document.getElementById("video1").currentTime = document.getElementById("video1").currentTime + 1/framerate
            }

            function bfb () {
                // Button Frame Back
                document.getElementById("video1").currentTime = document.getElementById("video1").currentTime - 1/framerate
            }

            function bmi() {
                // Button Mark In
                document.getElementById("intc").value = seconds_to_timestamp(document.getElementById("video1").currentTime)
            }

            function bmo() {
                // Button Mark Out
                document.getElementById("outtc").value = seconds_to_timestamp(document.getElementById("video1").currentTime)
            }

            function bgi() {
                // Button Go In
                snap_to_timestamp(document.getElementById("intc"))
            }

            function bgo() {
                // Button Go Out
                snap_to_timestamp(document.getElementById("outtc"))
            }

            function seconds_to_timestamp (seconds) {
                // Get the number of frames
                var tot_frames = Math.round(seconds*framerate)

                // Extract number of hours/mins/secs/frames
                var hours = Math.floor(tot_frames/(framerate*60*60)) % 60
                var mins = Math.floor(tot_frames/(framerate*60)) % 60
                var secs = Math.floor(tot_frames/framerate) % 60
                var frames = Math.floor(tot_frames % framerate)

                var ret_string = hours.toString().padStart(2, "0") + ":" + mins.toString().padStart(2, "0") + ":" + secs.toString().padStart(2, "0") + ":" + frames.toString().padStart(2, "0")
                return ret_string
            }

            function tc_focus (ele) {
                ele.value = ""
            }

            function tc_focus_off (ele) {
                ele.value = seconds_to_timestamp(document.getElementById("video1").currentTime)
            }

            function timestamp_to_seconds (timestamp) {
                var time_array = timestamp.padStart(8, "0").match(/(.{2})(.{2})(.{2})(.{2})/)
                var hours = parseInt(time_array[1])
                var mins = parseInt(time_array[2])
                if (mins > 60){
                    mins = 60
                }
                var secs = parseInt(time_array[3])
                if (secs > 60) {
                    secs = 60
                }
                var frames = parseInt(time_array[4])
                if (frames > framerate){
                    frames = framerate
                }

                var tot_frames = hours*60*60*framerate + mins*60*framerate + secs*framerate + frames

                return tot_frames/framerate
            }

            function enter_timecode(ele) {
                if(event.key === 'Enter'){
                    snap_to_timestamp(ele)
                    ele.value = ''
                    ele.blur()
                }
            }

            function snap_to_timestamp (ele) {
                var time_match = ele.value.split(':').join('').match(/([\-\+])?(\d{1,8})/)
                if (time_match[1] == '+'){
                    var new_time = document.getElementById("video1").currentTime + timestamp_to_seconds(time_match[2])
                } else if (time_match[1] == "-"){
                    var new_time = document.getElementById("video1").currentTime - timestamp_to_seconds(time_match[2])
                } else {
                    var new_time = timestamp_to_seconds(time_match[2])
                }
                document.getElementById("video1").currentTime = new_time
            }

            function updateTC(now, meta) {
                var frames = seconds_to_timestamp(meta.mediaTime)
                document.getElementById("inputtc").value = frames
                document.getElementById("video1").requestVideoFrameCallback(updateTC)
            };
            
            function frameevent() {
                document.getElementById("video1").requestVideoFrameCallback(updateTC)
            }

            function checkKey(e) {
                e = e || window.event;
                const nums = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "+", "-"]
                if (e.key == 'ArrowLeft') {
                    bfb()
                } else if (e.key == 'ArrowRight') {
                    bff()
                } else if(e.keyCode == '32') {
                    // space
                    document.getElementById("inputtc").blur()
                    video = document.getElementById("video1")
                    if (video.paused) {
                        video.play()
                    } else {
                        video.pause()
                    }
                } else if(e.key == 'i') {
                    bmi()
                } else if(e.key == 'o') {
                    bmo()
                } else if(nums.includes(e.key)) {
                    document.getElementById("inputtc").focus()
                } else if(e.key == "Escape") {
                    document.getElementById("inputtc").blur()
                }
            }

            window.onload = frameevent

            document.onkeydown = checkKey;
        </script>
    </head>
    <body>
        <video id="video1" width="640" height="480" controls>
            <source src="/static/video/{{ vid_dir }}/{{ video }}.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <form action="/build", method="post">
            <div>
                <input type="hidden" name="video" value="{{video}}.mp4">
                <input id="inputtc" type="text" onkeydown="enter_timecode(this)" onfocus="tc_focus(this)" onblur="tc_focus_off(this)">
            </div>
            <div>
                <button type="button" onclick="bmi()">Mark In</button>
                <button type="button" onclick="bgi()">|&lt</button>
                <button type="button" onclick="bfb()">&lt;</button>
                <button type="button" onclick="bff()">&gt;</button>
                <button type="button" onclick="bgo()">&gt|</button>
                <button type="button" onclick="bmo()">Mark Out</button>
            </div>
            <div>
                <label>In</label><input id="intc" name="start_tc" type="text">
                <label>Out</label><input id="outtc" name="end_tc" type="text">
                <input type="submit" value="Submit">
            </div>
        </form>
        <div>
            <h1>Instructions</h1>
            <p><b>Spacebar</b> to play/pause</p>
            <p><b>left</b> or <b>right</b> to go forwards/back one frame</p>
            <p><b>i</b> to save an "In" time</p>
            <p><b>o</b> to save an "Out" time</p>
            <p><b>00001000</b> or <b>1000</b> to skip to a specific timecode (<i>00:00:10:00</i> in this case)</p>
            <p><b>+00001000</b> or <b>+1000</b> to skip forwards by a specific timecode (<i>00:00:10:00</i> in this case)</p>
            <p><b>-00001000</b> or <b>-1000</b> to skip backwards by a specific timecode (<i>00:00:10:00</i> in this case)</p>
        </div>
    </body>
</html>