div.vid_controls {
    max-width: 1280px;
    display: inline-flex;
}

div.log_controls {
    display: inline-flex;
}

input.timecode {
    width: 100px;
}

input#inputtc {
    width: 180px;
    height: 40px;
    position: relative;
    z-index: -1;
    left: 50%;
    margin-top: -60px;
    margin-left: -90px;
    align-self: center;
    align-content: center;
    text-align: center;
    font-size: xx-large;
    opacity: 0;
    border: 0;
    outline: none;
}

input#inputtc:focus {
    z-index: 1;
    opacity: 1;
}

#infopopup {
  background-color: #73bd45;
  opacity: 0;
  position: absolute;
  z-index: 2;
  align-self: center;
  align-content: center;
  text-align: center;
}

input.readonly {
  color: #555555;
}

.fadeIn {
  animation: fadeIn ease 5s;
}
@keyframes fadeIn{
  0% {
    opacity:0;
  }
  25% {
    opacity:1;
  }
  75% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

.invalid {
  background-color: #ffffff;
  border-color: #f48120;
  animation: invalid ease 3s;
}

@keyframes invalid {
  0% {
    background-color: #ea1a5b;
  }
  100% {
      background-color: #ffffff;
  }
}